<div class="container-fluid bg-dark">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top">
    <p class="mb-0 text-light text-center font-weight-bold">© <span id="current-year"><%= currentYear %></span> YAN DAVI SILVA MELO</p>
  </footer>
</div>